<div class="w-1/4 bg-white mr-8 shadow-md rounded-lg overflow-y-auto">
    <h2 class="text-lg font-semibold mb-4 px-6 py-4 bg-gray-100 border-b border-gray-300">Actions d'administration</h2>
    <ul class="space-y-2 px-6 py-4">
        <li>
            <a href="{{ url_for('page_admin') }}" class="block text-gray-600 hover:text-blue-600 transition duration-300">Dashbord</a>
        </li>
        <li>
            <a href="{{ url_for('ajouter') }}" class="block text-gray-600 hover:text-blue-600 transition duration-300">Ajouter un candidat</a>
        </li>
        <li>
            <a href="{{ url_for('liste_candidats') }}" class="block text-gray-600 hover:text-blue-600 transition duration-300">Liste des candidats</a>
        </li>
        <li>
            <a href="{{ url_for('page_electeurs') }}" class="block text-gray-600 hover:text-blue-600 transition duration-300">Liste des electeurs</a>
        </li>
        <li>
            <a href="{{ url_for('resultat') }}" class="block text-gray-600 hover:text-blue-600 transition duration-300">Resultat</a>
        </li>
        <hr>
        

        

        

        
       
        
    </ul>
</div>