<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de vote</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .scrollable-list {
        max-height: 400px;
        overflow-y: auto;
      }

      .fixed-button {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(70% - 32px); /* Réduire la largeur du bouton */
        max-width: 3xl;
      }
    </style>
  </head>
  <body class="bg-gray-100 p-6">
    <div class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-indigo-400">
      <div class="flex justify-between items-center  py-4 px-6">
          <div>
              <img src="static/trans_logo.png" alt="" class="w-16 h-30 rounded-full">
          </div>
      </div>
      <div class="ml-4"> <!-- Ajout d'une marge à gauche pour l'espace -->
          <h1 class="text-xl font-bold text-indigo-600">COMMITION ELECTORALE NATIONALE INDEPENDANTE </h1>
      </div>
      <div>
          <a href="{{ url_for('deconnexion') }}" class="text-blue-500 hover:text-blue-700">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
              </svg>
          </a>
      </div>
  </div>
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-bold">Votez pour votre candidat préféré</h1>
    </div>
  
    {% for candidat in candidats %}
    <div class="scrollable-list">
      <form action="{{ url_for('voter') }} " method="post" class="space-y-6">
        <div class="border rounded-lg p-4 flex items-center justify-between">
          <img
            src="{{ url_for('static', filename= candidat.image) }}"
            alt="{{ candidat.nom }}"
            class="w-16 h-16 rounded-full mr-4"
          />
          <div>
            <label class="block text-lg font-semibold text-gray-800">
              {{ candidat.nom }} {{ candidat.prenom }}
            </label>
            <input type="hidden" name="nom" value="{{ candidat.nom }}" />
            <input type="hidden" name="prenom" value="{{ candidat.prenom }}" />
            <input type="hidden" name="id" value="{{ candidat._id }}" />
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded-md px-4 py-2 flex items-center space-x-2">
            <!-- SVG icon code -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="font-semibold">Votez</span> <!-- Changed text to "Votez" and added font weight -->
          </button>
        </div>
      </form>
    </div>
    {% endfor %}
  
  </div>
  
  </body>
</html>
