<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription</title>
    <!-- Include Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 p-6">
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
      <h1 class="text-2xl mb-4">Inscription</h1>
      <form action="{{ url_for('inscription') }}" method="post">
        <div class="mb-4">
          <label for="nom" class="block text-sm font-medium text-gray-700"
            >Nom:</label
          >
          <input
            type="text"
            id="nom"
            name="nom"
            required
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="prenom" class="block text-sm font-medium text-gray-700"
            >Prénom:</label
          >
           
          <input
            type="text"
            id="prenom"
            name="prenom"
            required
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>
        <div>
            <label for="nni" class="block text-sm font-medium text-gray-700">NNI:</label>
            <input type="number" name="nni" id="nni" required class="mt-1 p-2 w-full border rounded-md">
          </div> 
       
        <div class="mb-4">
          <label
            for="mot_de_passe"
            class="block text-sm font-medium text-gray-700"
            >Mot de passe:</label
          >
          <input
            type="password"
            id="mot_de_passe"
            name="mot_de_passe"
            required
            class="mt-1 p-2 w-full border rounded-md"
          />
        </div>

        <div class="mt-4">
          <input
            type="submit"
            value="S'inscrire"
            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer"
          />
        </div>
      </form>
    </div>
  </body>
</html>
